<?xml version="1.0"?>
<launch>

    <!-- This environment file allows to set which packages send debug messages to ROSCORE -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find little_pig_ctrl)/config/custom_rosconsole.conf"/>
    
    <arg name="namespace" default="/basic_pig" />
    <arg name="world_name" default="worlds/empty_world" />
    <arg name="cmd_timeout" default="0.5"/>

    <!-- Vehicle pose arguments -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="1.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <group ns="$(arg namespace)">
        <!-- Create the world -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" default="$(arg world_name)"/>
        </include>

        <param name="robot_description" command="$(find xacro)/xacro $(find little_pig_description)/urdf/basic_pig.urdf.xacro"/>

		<rosparam command="load" file="$(find little_pig_ctrl)/config/gazebo_controller_gains.yaml"/>
		
        <!-- <rosparam command="load" file="$(find little_pig_ctrl)/config/basic_pig_joints_ctrlr_params.yaml"/> -->
        
        <group ns="ackermann_controller">
            <rosparam command="load" file="$(find little_pig_description)/config/ackermann_config.yaml"/>
        </group>

        <!-- Spawn the little pig -->
        <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model basic_pig
                -gazebo_namespace /$(arg namespace)/gazebo
                -x $(arg x) -y $(arg y) -z $(arg z)
                -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
<!--
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="vehicle_state_publisher">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value=""/>
        </node>

        <node pkg="joint_state_publisher" type="joint_state_publisher" name="axle_state_publisher">
            <param name="use_gui" value="true"/>
            <param name="rate" value="50"/>
        </node>

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find little_pig_rviz)/rviz/urdf.rviz" required="true"/>
-->
        <include file="$(find little_pig_ctrl)/launch/teleop.launch" /> 
    </group>

</launch>
